body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 1.75em;
}

h1 {
  margin-top: 30px;
  display: block;
  font-weight: normal;
  font-size: 16px;
  color: #999999;
}

.input {
  display: inline-block;
  vertical-align: top;
  border: 1px #CCCCCC solid;
  border-radius: 3px;
  width: 150px;
  height: 150px;
  overflow: auto;
  padding: 5px;
}

.input.autoexpand {
  height: auto;
  min-height: 150px;
  overflow-x: auto;
  overflow-y: visible;
}

.input.resize {
  min-height: 150px;
  resize: both;
}

.input.rtl {
  direction: rtl;
}

.input:focus {
  border: 1px #999999 solid;
}

.input:empty {
  background: #EEEEEE !important;
}

.pill {
  cursor: move;
  border-radius: 10px;
  background: white;
  border: 1px solid #CCCCCC;
  padding: 0px 5px 0px 5px; 
  display: inline-block;    
  white-space: nowrap;
  line-height: 1.4em;
}

.pill:active {
  background: #E7E7E7;
}

.input:focus .pill.focus {
  color:#1E86C8;
  border: 1px solid #1E86C8;
}

.input:focus .pill.focus .arrow {
  border-color: #1E86C8 transparent transparent transparent;
}

.pill .option {
  font-style: italic;
  opacity: 0.5;
}

.pill span::selection {
  background: transparent;
}

.pill span::-moz-selection {
  background: transparent;
}

.pill span {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.pill .arrow {
  margin: 0px 0px 1px 5px;
  cursor: pointer;
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 4px 0 4px;
  border-color: #000000 transparent transparent transparent;
}

.input.rtl .pill .arrow {
  margin: 0px 5px 0px 0px;
}

.input.rtl + .dropZone .pill {
  float: right;
}

.dropZone {
  overflow: auto;
  display: inline-block;
  vertical-align: top;
  margin-left: 20px;
  margin-right: 20px;
  background: #EEEEEE;
  border: 1px #CCCCCC solid;
  border-radius: 3px;
  width: 150px;
  height: 150px;
  padding: 5px;
}

.dropZone .pill {
  float: left;
  clear:both;
  margin-bottom: 5px;
}

.input.rtl + .dropZone {
  direction: rtl;
}


.dropZone.dragover {
  border: 1px dashed #999999;
}

.menu {
  padding: 5px;
  position: absolute;
  background: white;
  border-radius: 5px;
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
}

.menu button {
  outline: 0;
  font-family: "Open Sans", sans-serif;
  color: white;
  background: #4C9ED3;
  border-radius: 10px;
  border: 0;
  display: block;
  width: 100%;
  margin-top: 5px;
}

.pillButton {
  outline: 0;
  font-family: "Open Sans", sans-serif;
  color: white;
  background: gray;
  border-radius: 10px;
  border: 0;
  display: block;
  margin-top: 5px;
}

.menu button:first-child {
    margin-top: 0px;
}