h1 {
  display: block;
  font-family: Arial;
  font-weight: normal;
  font-size: 16px;
  color: #999999;
}

.input {
  display: inline-block;
  vertical-align: top;
  border: 1px #cccccc solid;
  border-radius: 3px;
  width: 100px;
  height: 100px;
  overflow: auto;
  padding: 5px;
  margin-bottom: 30px;
}

.input.autoexpand {
  overflow-x: auto;
  overflow-y: visible;
}

.input.resize {
  min-height: 100px;
  resize: both;
}

.input.rtl {
  direction: rtl;
}

.input:focus {
  border: 1px #999999 solid;
}

.input:empty {
  background: #eeeeee !important;
}

.pill {
  cursor: move;
  border-radius: 3px;
  background: #ffcc00;
  padding: 0px 5px 0px 5px; 
  display: inline;    
  white-space: nowrap;
  box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.5);
}

.pill.block {
  display: inline-block !important;
  margin-bottom: 5px;
}

.pill .option {
  font-style: italic;
  opacity: 0.5;
}

.pill span::selection {
  background: transparent;
}

.pill span::-moz-selection {
  background: transparent;
}

.pill span {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.pill .arrow {
  margin: 0px 0px 0px 5px;
  cursor: pointer;
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8.7px 5px 0 5px;
  border-color: #000000 transparent transparent transparent;
}

.input.rtl .pill .arrow {
  margin: 0px 5px 0px 0px;
}

.dropZone {
  overflow: auto;
  display: inline-block;
  vertical-align: top;
  margin-left: 20px;
  margin-right: 20px;
  background: #eeeeee;
  border: 1px #cccccc solid;
  border-radius: 3px;
  width: 100px;
  height: 100px;
  padding: 5px;
}

.input.rtl + .dropZone {
  direction: rtl;
}

.dropZone.dragover {
  border: 1px dashed #999999;
}